<side-menus>

    <pane side-menu-content drag-content="false">
        <nav-bar type="bar-positive"
                 back-button-type="button-icon"
                 back-button-icon="ion-ios7-arrow-back"
                 animation="nav-title-slide-ios7"></nav-bar>
        <nav-view name="menuContent"></nav-view>
    </pane>

    <side-menu side="left" ng-click="sideMenuClick()">
        <ul class="ulMenu">
            <li class="active visible"><a ng-click="go('eventmenu.home')"><i class="fa fa-home"></i><span>Home</span></a></li>
            <li class="active visible"><a ng-click="go('eventmenu.checkin')"><i class="fa fa-home"></i><span>Check-in</span></a></li>
            <li class="visible"><a ng-click="go('eventmenu.attendees')"><i class="fa fa-info"></i><span>Attendees</span></a></li>
        </ul>
    </side-menu>

</side-menus>