<ion-view view-title="Subscribes list">
    <!--hide-back-button="true" left-buttons="menuButton">-->

    <div class="bar bar-header">
        <!--<button class="button button-icon icon ion-android-menu"></button>-->
        <!--<button class="button button-icon icon ion-android-arrow-back"-->
        <!--ng-click="backInvoke()"></button>-->
        <button class="button button-icon icon ion-android-refresh"
                ng-click="updateAll()"></button>
        <div class="h1 title">Subscribes list</div>
        <button class="button button-icon icon ion-android-add"
                ng-click="addSubscribeInvoke()"> Add
        </button>
    </div>

    <ion-content class="has-header padding">

        <div class="card" ng-if="list.length === 0">
            <div class="item item-text-wrap">
                Not found subscribes.
            </div>
        </div>

        <div class="list" ng-if="list.length > 0">

            <a class="item item-avatar" ng-repeat="subscribe in list"
                    ng-click="openSubscribe(subscribe.id)">
                <img src="{{subscribe.photo_50}}">

                <h2>{{subscribe.name}}</h2>

                <p>{{subscribe.status || subscribe.description}}</p>

                <span class="badge badge-assertive" ng-if="getPostsCount(subscribe.id)>0">
                    {{getPostsCount(subscribe.id)}}
                </span>
            </a>

        </div>

    </ion-content>
</ion-view>
