<ion-view view-title="Post" cache-view="true">
    <!--hide-back-button="true" left-buttons="menuButton">-->

    <div class="bar bar-header">
        <!--<button class="button button-icon icon ion-android-menu"></button>-->
        <!--<button class="button button-icon icon ion-android-arrow-back"-->
                <!--ng-click="backInvoke()"></button>-->
        <button class="button button-icon icon ion-android-arrow-back"
                ng-click="next()"></button>
        <div class="h1 title">{{subscribe.name}}</div>
        <button class="button button-icon icon ion-android-arrow-forward"
                ng-click="previous()"></button>
    </div>

    <ion-content class="has-header">

        <div class="card" ng-if="post === null">
            <div class="item item-text-wrap">
                Not found post.
            </div>
        </div>

        <div class="card" ng-hide="(post.text) || (post.media)">
            <div class="item item-text-wrap">
                Post not supported.
            </div>
        </div>


        <div class="list card" ng-show="(post.text) || (post.media)"
             on-swipe-right="next()"
             on-swipe-left="previous()">

            <div class="item item-text-wrap"
                 ng-if="post.text"
                 style="word-wrap: break-word"
                 ng-bind-html="post.text">
            </div>

            <div class="item item-image" ng-if="((post.media)&&(m.type === 'photo'))" ng-repeat="m in post.media">
                <!--<img src="{{getPhoto(post, m.data)}}">-->
                <img src="{{m.data}}">
            </div>

            <div class="row">
                <div class="col-50">
                    <a class="item item-icon-left" ng-if="isFavorite(post.id)">
                        <i class="icon ion-android-star"></i>
                        <!--{{convertDate(post.date)}}-->
                        {{post.time + ' ' + post.date}}
                    </a>
                    <a class="item" ng-if="!isFavorite(post.id)">
                        <!--{{convertDate(post.date)}}-->
                        {{post.time + ' ' + post.date}}
                    </a>
                </div>
                <div class="col-50">
                        {{post.id}}
                </div>
                <!--<div class="col">-->
                    <!--<a class="item item-icon-left">-->
                        <!--<i class="icon ion-thumbsup"></i>-->
                        <!--{{post.likes}} / {{post.reposts}}-->
                    <!--</a>-->
                <!--</div>-->
            </div>

        </div>

    </ion-content>
</ion-view>
