<ion-view view-title="Search subscribe">
    <!--hide-back-button="true" left-buttons="menuButton">-->

    <div class="bar bar-header">
        <!--<button class="button button-icon icon ion-android-menu"></button>-->
        <button class="button button-icon icon ion-android-arrow-back"
                ng-click="backInvoke()"></button>
        <div class="h1 title">Search subscribe</div>
        <!--<button class="button button-clear button-positive">Edit</button>-->
    </div>

    <ion-content class="has-header padding">

        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input ng-model="searchObj.subscribeId" type="text" placeholder="Subscribe id">
                </label>
                <button class="button button-small"
                        ng-click="searchSubscribe()">
                    Search
                </button>
            </div>

        </div>


        <div class="list card" ng-repeat="subscribe in result" ng-click="addSubscribe(subscribe)">

            <div class="item item-avatar">
                <img src="{{subscribe.photo_50}}">
                <h2>{{subscribe.name}}</h2>
                <p>{{subscribe.status || subscribe.description}}</p>
            </div>

        </div>

    </ion-content>
</ion-view>