<ion-view view-title="Subscribe" cache-view="true">
    <!--hide-back-button="true" left-buttons="menuButton">-->

    <div class="bar bar-header">
        <!--<button class="button button-icon icon ion-android-menu"></button>-->
        <button class="button button-icon icon ion-android-arrow-back"
                ng-click="backInvoke()"></button>
        <div class="h1 title">{{subscribe.name}}</div>
        <button class="button button-icon icon ion-android-refresh"
                ng-click="refreshInvoke()"></button>
    </div>

    <ion-content class="has-header">

        <div class="card" ng-if="postsCount === 0">
            <div class="item item-text-wrap">
                Not found posts.
            </div>
        </div>


        <div class="list card" ng-repeat="post in posts | orderBy:'-id' track by post.id"
             ng-show="(post.text) || (post.media)"
                ng-click="openPost(post.id)">

            <div class="item item-text-wrap"
                 ng-if="post.text"
                 style="word-wrap: break-word"
                 ng-bind-html="post.text">
            </div>

            <div class="item item-image" ng-if="((post.media)&&(m.type === 'photo'))" ng-repeat="m in post.media">
                <!--<img src="{{getPhoto(post, m.data)}}">-->
                <img src="{{m.data}}">
            </div>

            <div class="row">
                <div class="col-50">
                    <a class="item item-icon-left" ng-if="isFavorite(post.id)">
                        <i class="icon ion-android-star"></i>
                        <!--{{convertDate(post.date)}}-->
                        {{post.time + ' ' + post.date}}
                    </a>
                    <a class="item" ng-if="!isFavorite(post.id)">
                        <!--{{convertDate(post.date)}}-->
                        {{post.time + ' ' + post.date}}
                    </a>
                </div>
                <div class="col-50">
                    {{post.id}}
                </div>
                <!--<div class="col">-->
                    <!--<a class="item item-icon-left">-->
                        <!--<i class="icon ion-thumbsup"></i>-->
                        <!--{{post.likes}} / {{post.reposts}}-->
                    <!--</a>-->
                <!--</div>-->
            </div>


        </div>


        <!--<ion-list>-->
        <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="post in data.posts"-->
        <!--type="item-text-wrap" href="#/tab/post/{{data.id}}/{{post.id}}">-->
        <!--&lt;!&ndash;<img ng-src="{{chat.face}}">&ndash;&gt;-->

        <!--&lt;!&ndash;<h2>{{chat.name}}</h2>&ndash;&gt;-->

        <!--&lt;!&ndash;<p>{{chat.lastText}}</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="icon ion-chevron-right icon-accessory"></i>&ndash;&gt;-->

        <!--&lt;!&ndash;<ion-option-button class="button-assertive" ng-click="remove(chat)">&ndash;&gt;-->
        <!--&lt;!&ndash;Delete&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-option-button>&ndash;&gt;-->

        <!--<div class="card">-->
        <!--<div class="item item-text-wrap"-->
        <!--style="word-wrap: break-word"-->
        <!--ng-bind-html="post.text">-->
        <!--</div>-->
        <!--<div class="item item-divider">-->
        <!--{{convertDate(post.date)}}-->
        <!--</div>-->
        <!--</div>-->

        <!--</ion-item>-->
        <!--</ion-list>-->
    </ion-content>
</ion-view>
