<ion-view view-title="Add subscribe">
    <ion-content class="padding">

        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>

    </ion-content>
</ion-view>
