<ion-tabs class="tabs-item-hide tabs-icon-top tabs-color-active-positive">

  <ion-tab title="List">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search subscribe">
    <ion-nav-view name="tab-search-subscribe"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Subscribe">
    <ion-nav-view name="tab-subscribe"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Post">
    <ion-nav-view name="tab-post"></ion-nav-view>
  </ion-tab>


</ion-tabs>
